@font-face {
	font-family: Pragmatica;
	font-display: swap;
	src: url("../fonts/Pragmatica-Bold.woff2") format("woff2"), url("../fonts/Pragmatica-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Pragmatica;
	font-display: swap;
	src: url("../fonts/Pragmatica-Book.woff2") format("woff2"), url("../fonts/Pragmatica-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Pragmatica;
	font-display: swap;
	src: url("../fonts/Pragmatica-Light.woff2") format("woff2"), url("../fonts/Pragmatica-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Pragmatica;
	font-display: swap;
	src: url("../fonts/Pragmatica-Oblique.woff2") format("woff2"), url("../fonts/Pragmatica-Oblique.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
